[default_params]
select_pattern = futurice.com_*@resource.calendar.google.com
user_pattern = google.test@futurice.com
group = Room calendars
family_name = Room

[application]
domain = futurice.com
user_agent = Futurice-RoomsCopier-1
client_id = DUMMY
client_secret = DUMMY
admin_user = admin@futurice.com
oauth_scopes = https://apps-apis.google.com/a/feeds/calendar/resource/
max_contacts = 10000
batch_max = 100
group_extended_property_name = com.futurice.dircopier.magicGroupType
group_extended_property_value = meetingRooms
contact_extended_property_name = com.futurice.source
contact_extended_property_value = dircopier-calendar
